/*
 *= require kickstart
 *= require kickstart-buttons
 *= require kickstart-forms
 *= require kickstart-menus
 *= require kickstart-grid
 *= require kickstart-icons
 *= require jquery.fancybox-1.3.4
 *= require prettify
 *= require chosen
 *= require tiptip
 */

body {
  background: #eee;
}

#wrap {
  width: 960px;
  background: #fff;
  margin: 30px auto 30px auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 2px #999;
}

#header {
  width: 940px;
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #CACACA;
  background: #fafafa;
  background-image: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
  -webkit-box-shadow: 1px 1px 2px #eee;
}

#content {
  width: 880px;
  margin: 20px;
  padding: 20px;
}


.footer {
  text-align: center;
  color: #999;
}

#title {
  float: left;
  font-size: 2.5em;
  color: #555;
}

#navi {
  float: right;
  font-size: 1.2em;
  margin: 10px;
}

#navi ul {
  list-style: none;
}