!!!
%html
 %head
  %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
  = stylesheet_link_tag 'application'
  = javascript_include_tag "application"
  = csrf_meta_tags
  %title Redbrew
 %body
  = yield
